---
name: home
url: /
---

<div class="grid-container">
  <h1>Сторінки</h1>
  <section class="block-list">
      <header>Назва сторінки</header>
      <ul>
          <li class="with-chevron"><a ui-sref="page({ name: 'Головна сторінка'})">Головна сторінка</a></li>
          <li class="with-chevron"><a ui-sref="page({ name: 'Подарунки'})">Подарунки</a></li>
          <li class="with-chevron"><a ui-sref="page({ name: 'Гравіювання'})">Гравіювання</a></li>
          <li class="with-chevron"><a ui-sref="page({ name: 'Контакти'})">Контакти</a></li>
          <li class="with-chevron"><a ui-sref="page({ name: 'Про нас'})">Про нас</a></li>
      </ul>
  </section>
</div>